{% extends 'admin-base.html' %}
{% load static %}
{% block sidebar %}
    <ul >
        <li ><a href="{% url 'admin_dash' %}" ><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="{% url 'admin_order_list' %}" class="active"><i class="fas fa-shopping-cart"></i> Orders</a></li>
        <li><a href="{% url 'admin_products' %}"><i class="fas fa-box-open"></i> Products</a></li>
        <li><a href="{% url 'admin_categories' %}"><i class="fas fa-tags"></i> Categories</a></li>
        <li><a href="{% url 'coupons' %}"><i class="fas fa-percent"></i> Coupons</a></li>
        <!-- <li><a href="#"><i class="fas fa-bullhorn"></i> Offers</a></li> -->
        <li><a href="#"><i class="fas fa-comments"></i> Reviews</a></li>
        <li><a href="{% url 'user_list' %}"><i class="fas fa-users"></i> Customers</a></li>
    </ul>
{% endblock %}
{% block maincontent %}
<link rel="stylesheet" href="{% static 'admin/css/order-list.css' %}">
<header>
    <h1 style="margin-left: 30px;">Orders</h1>
    <div class="search">
        <form action="{% url 'search_orders_admin' %}" method="get">
            <input type="text" name="query" id="searchInput" placeholder="Search Orders">
            <button type="submit">Search</button>
        </form>
        
    </div>
    
</header>
{% if none %}
<p>No orders based on your search</p>
{% else %}
<p>Manage all your orders here</p>
<section class="content">
    <!-- Order Table -->
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Status</th>
                    <th>Total Amount</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="orderTableBody"  >
                {% if order_list %}
                {% for order in order_list %}
                <tr>
                    <td>{{order.order_id}}</td>
                    <td>{{order.created_at|date:"d-m-Y"}}</td>
                    <td>{{order.order_status}}</td>
                    <td>₹{{order.total_price}}</td>
                    <td>{{order.shipping_address}}</td>
                    <td>
                        <a href="{% url 'admin_order_detail' order.id %}"><button class="view-details">View Details</button></a>
                    </td>
                </tr>
                {% endfor %}
                {% elif result %} 
                {% for order in result %}
                <tr>

                    <td>{{order.order_id}}</td>
                    <td>{{order.created_at|date:"d-m-Y"}}</td>
                    <td>{{order.order_status}}</td>
                    <td>₹{{order.total_price}}</td>
                    <td>{{order.shipping_address}}</td>
                    <td>
                        <a href="{% url 'admin_order_detail' order.id %}"><button class="view-details">View Details</button></a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                
    
            </tbody>
        </table>
        <style>
            .pagination {
            display: flex;
            gap: 10px;
            margin: 10px 0;
            }
            .pagination a {
            padding: 5px 10px;
            border: 1px solid #ff9900;
            text-decoration: none;
            background-color: rgb(255, 255, 255);
            color: black;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            }
            
            .pagination span {
            padding: 5px;
            }

        </style>
        <div class="pagination">
            {% if order_list.has_previous %}
              <a href="?page=1" >First</a>
              <a href="?page={{ order_list.previous_page_number }}" >Previous</a>
            {% endif %}
          
            <span>Page {{ order_list.number }} of {{ order_list.paginator.num_pages }}</span>
          
            {% if order_list.has_next %}
              <a href="?page={{ order_list.next_page_number }}">Next</a>
              <a href="?page={{ order_list.paginator.num_pages }}" >Last</a>
            {% endif %}
          </div>
    </div>
</section>
{% endif %}
{% endblock %}
