{% extends 'user-base.html' %}
{% block maincontent %}
<div class="container-fluid pb-5">
    <div class="container pb-5" style="text-align: center;">
        <div>
            <h1 class="fw-bold">Cart</h1>
            {% for message in messages %}
            {% if "remove_zero_stock" in message.tags %}
            <h6 class="text-danger"  style="font-size: smaller;">{{ message }}</h6>
            {% endif %}
            {% endfor %}
        </div>
        <div class="table-responsive">
            {% if Cart_Item %}

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Products</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                    {% for item in Cart_Item %}
                    <tr>
                        <th scope="row">
                            <div class="d-flex align-items-center">
                                <img src="{{item.image.url}}" class="img-fluid " style="width: 80px; height: 80px;" alt="">
                            </div>
                        </th>
                        <td>
                            <p class="mb-0 mt-4">{{item.product.name}}</p>
                            {% for message in messages %}
                            {% if "add_limit"|add:item.product.name in message.tags %}
                            <h6 class="text-danger"  style="font-size: smaller;">{{ message }}</h6>
                            {% elif "0_tags"|add:item.product.name in message.tags %}
                            <h6 class="text-danger"  style="font-size: smaller;">{{ message }}</h6>
                            {% elif "reduce_0"|add:item.product.name in message.tags %}
                            <h6 class="text-danger"  style="font-size: smaller;">{{ message }}</h6> 
                            {% endif %}
                            {% endfor %}

                            

                            
                            
                        </td>
                        <td>
                            <p class="mb-0 mt-4">₹{{item.variant.final_price}}</p>
                        </td>
                        <td>
                            <div class="input-group quantity mt-4 " style="width: 100px;">
                                <div class="input-group-btn">
                                    <a href="{% url 'remove_quantity' item.variant.id %}"><button class="btn btn-sm btn-minus rounded-circle bg-light border" >
                                    <i class="fa fa-minus"></i>
                                    </button></a>
                                </div>
                                <input type="text" class="form-control form-control-sm text-center border-0" value="{{item.quantity}}">
                                <div class="input-group-btn">
                                    <a href="{% url 'add_quantity' item.variant.id %}"><button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                        <i class="fa fa-plus"></i>
                                    </button></a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="mb-0 mt-4">₹{{item.item_total}}</p>
                        </td>
                        <td>
                            <a href="{% url 'remove_from_cart' item.variant.id %}"><button class="btn btn-md rounded-circle bg-light border mt-4" >
                                <i class="fa fa-times text-danger"></i>
                            </button></a>
                        </td>
                    
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        <!-- <div class="mt-5">
            <form action="{% url 'apply_coupon' %}" method="post">
                {% csrf_token %}
            <select class="border-0 border-bottom rounded me-5 py-3 mb-4" name="couponcode" id="">
                <option value="">select coupon</option>
                {% for coupon in coupons %}     
                <option value="{{coupon}}">{{coupon}}</option>
                {% endfor %}
            </select>
            <input type="hidden" value="100" name="totalprice" id="">
            <button class="btn border-secondary rounded-pill px-4 py-3 text-dark" type="submit">Apply Coupon</button>

            </form>
        </div> -->
        <div class="row g-4 justify-content-end">
            <div class="col-8"></div>
            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="bg-light rounded">
                    <div class="p-4">
                        <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                        <!-- <div class="d-flex justify-content-between mb-4">
                            <h5 class="mb-0 me-4">Sub Total:</h5>
                            <p class="mb-0">{{totalprice}}</p>
                        </div> -->
                        <!-- <div class="d-flex justify-content-between">
                            <h5 class="mb-0 me-4">Shipping</h5>
                            <div class="">
                                <p class="mb-0">₹3.00</p>
                            </div>
                        </div> -->
                    </div>
                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                        <h5 class="mb-0 ps-4 me-4">Total</h5>                       
                        <p class="mb-0 pe-4">₹{{totalprice}}</p>
                    </div>
                    <a href="{% url 'checkout' %}"><button class="btn border-secondary rounded-pill px-4 py-3 text-secondary text-uppercase mb-4 ms-4"     type="button">Proceed Checkout</button></a>
                </div>
            </div>
        </div>
        {% else %}
        <h5>No  items in cart</p>
        {% endif %}
    </div>
</div>
<!-- Cart Page End -->

{%  endblock %}