{% block content %}
<style>
body {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}
.container h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.container p {
    font-size: 1em;
    color: #333;
    margin-bottom: 30px;
}


</style>
<div class="container">
    <h2>Password Reset Complete</h2>
    <p>Your password has been successfully reset. You can now <a href="{% url 'user_login' %}">login</a> with your new password.</p>
</div>

{% endblock %}
