body {
    display: flex;
    font-family: Arial, sans-serif;
}



.main-content {
    flex: 1;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 97%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #6a5acd;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.back-btn{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #6a5acd;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}